---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <p style="text-align: center"> <a href="https://clustrmaps.com/site/1bx3p" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=LRVWJo4ws5tjwIYcxzg1rX9qjoUs-I1eVE8HAbVpbvo&cl=ffffff"></a>
    </p>


    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
